.MuiEventCalendar-eventDialogDescriptionLabel {
  word-wrap: break-word;
  white-space: pre-wrap;
}

/* vertically align the toolbars at the ~sm breakpoint and below */
@media (max-width: 640px) {
  .fc-header-toolbar {
    flex-direction: column;
  }
  .fc-footer-toolbar {
    flex-direction: column;
  }
}
